.text-center {
  color: black;
}
.contenedorAbout {
  margin-left: 10px;
}
.parrafoAbout {
  margin-left: 10px;
}
.colorTitulosAbout {
  font-weight: 700;
}
h4 {
  color: #1b1a1ae7;
}

p {
  text-align: justify;
}
.contenedorAbout span {
  color: #d70606;
  font-weight: 700;
}
.anchoPabout p {
  width: auto;
}
hr {
  border-bottom: 1px solid #ffde00;
}
@media only screen and (min-width: 801px) {
  .contenedorAbout {
    margin-right: 15px;
  }
  .contenedorAbout p {
    line-height: 1.5em;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 900px) {
  .colorTitulosAbout {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: bold;
    margin-top: 10px;
  }
}
