@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Lobster&display=swap");
.flotarIzquierda {
  float: left;
  margin: 0;
  width: 700px;
  height: 348px;
}

.flotarDerecha {
  float: right;
  margin-top: 60px;
  line-height: 1.5;
}
.flotarDerecha h3 {
  font-weight: bold;
  font-size: 28px;
  font-family: "Open Sans", sans-serif;
}
.flotarDerecha p {
  text-align: justify;
  margin-right: 16px;
}
.colorFondos {
  margin-top: 50px;
}
.colorBtn {
  background-color: #d70606;
}
.colorBtn:hover {
  transform: translateY(-4px);
  transition: all 0.3s ease-in-out 0s;
}
.brandNameP {
  font-family: "Lobster", cursive;
  text-decoration: none;
  color: #212529;
}
hr {
  border: 0;
  height: 0;
  box-shadow: 0 1px 5px 1px #006ddf;
}

@media only screen and (max-width: 767px) {
  .flotarIzquierda {
    width: 350px;
    height: 200px;
  }
  .flotarDerecha {
    margin-left: 10px;
  }
}
