@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
.texto {
  color: #ffde00;
  font-weight: bold;
}

.menu {
  background-color: #000;
  margin: 0;
}
.borderToggle {
  border: solid 2px #fff;
  background-color: #ffde00;
}

.colorFondo {
  background-color: #000;
}

.logoName img {
  width: 230px;
  height: 100px;
}
.logoNameResponsive {
  font-family: "Lobster", cursive;
  font-size: 28px;
}
@media only screen and (max-width: 900px) {
  .logoName img {
    width: 130px;
    height: 65px;
  }
  .borderToggle {
    border: solid 2px #000;
    background-color: #fff;
  }
  .colorFondo {
    background-color: #fff;
  }
  .logoNameResponsive {
    color: #000;
    font-family: "Alfa Slab One", cursive;
    font-weight: bold;
    font-style: italic;
  }
  .texto {
    color: #000;
    font-family: "Alfa Slab One", cursive;
    font-weight: 800;
  }
}

@media only screen and (max-width: 900px) {
  .colorFondo {
    background-color: #fff;
  }

  .logoNameResponsive {
    color: #000;
    font-family: "Alfa Slab One", cursive;
    font-weight: bold;
    font-style: italic;
  }
  .texto {
    color: #000;
    font-family: "Alfa Slab One", cursive;
    font-weight: 800;
  }
}

@media only screen and (min-width: 901px) {
  .menu {
    margin: 0;
  }
  .logoNameResponsive {
    color: #ffde00;
    font-family: "Alfa Slab One", cursive;
    font-weight: bold;
    font-style: italic;
  }
}
