@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Lobster&display=swap");
.texto {
  color: #fff;
  font-weight: bold;
}
.menu {
  background-color: #d70606;
  margin: 0;
}
.borderToggle {
  border: solid 2px #fff;
}
.colorFondo {
  background-color: #d70606;
}

.logoName img {
  width: 130px;
  height: 50px;
}
.logoNameResponsive {
  font-family: "Lobster", cursive;
  font-size: 28px;
}
@media only screen and (max-width: 900px) {
  .logoName img {
    width: 70px;
    height: 30px;
  }
}
