@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Lobster&display=swap");
.texto {
  color: #ffde00;
  font-weight: bold;
}

.menu {
  background-color: #000;
  margin: 0;
}
.borderToggle {
  border: solid 2px #fff;
}

.colorFondo {
  background-color: #000;
}

.logoName img {
  width: 230px;
  height: 100px;
}
.logoNameResponsive {
  font-family: "Lobster", cursive;
  font-size: 28px;
}
@media only screen and (max-width: 900px) {
  .logoName img {
    width: 130px;
    height: 65px;
  }
}
